<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<br>
<!-- <input class="form-control" type="text" (input)="onUpdateServer($event)"> -->
<input class="form-control" type="text" [(ngModel)]="serverName">
<br>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else  noServer">Server was created..  server name is {{serverName}}  </p>
<ng-template #noServer>
    <p>No server is created</p>
</ng-template>
<input class="form-control" type="text" [(ngModel)]="userName">
<p>{{userName}}</p>
<button type="button" class="btn btn-primary" [disabled]="userName===''" (click)="resetName()">Click</button>

<br>
<br>
<app-server *ngFor="let server of servers"></app-server>
<button  class="btn btn-primary" (click)="displayDetails()"> Display details</button>
<p *ngIf="isDisplay"  [ngStyle]="{backgroundColor: getColorPassword()}" [ngClass]="{passwordColor: count>5}">Secret password ='Tuna'</p>
<div  *ngFor="let log of logs;let i =index" [ngStyle]="{backgroundColor: i>5?'orange':'pink'}" [ngClass]="{passwordColor: i>5}">{{log}}</div>
<hr>
